# Frontend url
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3001

# Backend url
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# Next Auth
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=SECRET_KEY_FOR_NEXT_AUTH